<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Портфолио учителя истории и обществознания</title>
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700&family=Roboto:wght@300;400;500&display=swap"
          rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/main-page.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/about.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/science.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/culture.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/project.css') }}">
</head>
<body>

<header>
    <div class="container header-container">
        <div class="logo-area">
            <div class="logo-icon">
                <i class="fas fa-graduation-cap"></i>
            </div>
            <div class="logo-text">
                <div class="logo-name">Марина Борисовна Вахромеева</div>
                <div class="logo-subtitle">УЧИТЕЛЬ ИСТОРИИ И ОБЩЕСТВОЗНАНИЯ</div>
            </div>
        </div>
        <button class="menu-toggle">
            <i class="fas fa-bars"></i>
        </button>
        <nav>
            <ul>
                <li><a href="/about"><i class="fas fa-user"></i> Информация</a></li>
                <li><a href="/science"><i class="fas fa-flask"></i> Наука</a></li>
                <li><a href="/cultural"><i class="fas fa-monument"></i>Культура</a></li>
                <li><a href="/project"><i class="fas fa-monument"></i>Проект "День Победы"</a></li>
            </ul>
        </nav>
    </div>
</header>
<div class="barrier">

</div>

<main role="main" class="main-content">
    {% block content %}{% endblock %}
</main>
<footer>
    <div class="container">
        <div class="footer-content">
            <div class="social-links">
                <a href="https://vk.com/licejj82?sh=6"><i class="fab fa-vk"></i></a>
            </div>
            <div class="copyright">
                <p>&copy; 2025 Портфолио учителя истории и обществознания. Все права защищены.</p>
            </div>
        </div>
    </div>
</footer>
</body>
</html>